:root {
    --primary-color: #7fa650;
    --primary-hover: #537133;
    --primary-outline: #cee5d0;
    --secondary-color: #64748b;
    --secondary-hover: #475569;
    --secondary-outline: rgb(176 185 198);
    --error-color: #ef4444;
    --error-hover: #dc2626;
    --error-outline: rgb(247 162 162);
    --success-color: #22c55e;
    --success-hover: #16a34a;
    --success-outline: rgb(136 234 172);
    --warning-color: #f59e0b;
    --warning-hover: #d97706;
    --warning-outline: rgb(250 207 133);
    --border-radius: 8px;
    --padding-x: 0.75rem;
    --pading-y: 0.25rem;
    --white-text: #ffffff;
    --background: #ffffff;
    --black-text: #000000;
    --line-color: #ced4da;
    --window-background: #eeeeee;
    --transition-time: 0.2s;
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
