.container {
    height: 100vh;
    width: 4.25rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: 2px solid #ffffff;
}

.tabs {
    flex: 1;
}
.tab {
    width: 4.25rem;
    height: 4.25rem;
    color: var(--white-text);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}
.tab.focused {
    background-color: #00000030;
}

.setting {
    border: none;
    outline: none;
    background-color: transparent;
}
.setting:focus {
    background-color: #00000030;
}
.setting .settingFocused {
    display: none;
}
.setting:focus .settingUnfocused {
    display: none;
}
.setting:focus .settingFocused {
    display: block;
}
