.piece {
    user-select: none;
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: bottom 0.3s, left 0.3s;
}
.piece.pieceFocused {
    outline: 4px solid #ecb390;
    outline-offset: -4px;
}
.pieceIcon {
    width: 90%;
    height: 90%;
}
.pieceIcon.pieceWhite {
    color: #ffffff;
}
.pieceIcon.pieceBlack {
    color: #406882;
}
.pieceIcon path {
    stroke-width: 0.75rem;
    stroke: #2c3333;
}
.board {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    min-width: 16rem;
    min-height: 16rem;
    height: calc(100vh - 1.75rem);
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
}
.square {
    aspect-ratio: 1/1;
}
.square.squareWhite {
    background-color: #fafdd6;
}
.square.squareBlack {
    background-color: var(--primary-color);
}
.square.movable {
    outline: 4px solid #ecb390;
    outline-offset: -4px;
    cursor: pointer;
}
.square.unmovable {
    cursor: default;
}
