.piece {
    user-select: none;
}
.board {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    min-width: 16rem;
    min-height: 16rem;
    aspect-ratio: 1/1;
}
.square {
    aspect-ratio: 1/1;
}
.square.white {
    background-color: #ffffff;
}
.square.black {
    background-color: var(--primary-color);
}
