.container {
    height: 1.75rem;
    width: 100%;
    background-color: var(--window-background);
    display: flex;
    align-items: center;
}

.dragable {
    -webkit-app-region: drag;
    flex: 1;
}

.title {
    font-size: 14px;
    font-weight: 600;
    margin-left: 1rem;
    user-select: none;
}
